.section-about-brand {
    padding: 50px;
}

.section-about-brand .paragraph {
    line-height: 1.5;
}

.section-about-brand ul li {
    list-style: none;
    line-height: 1.7;
    margin-left: 20px;
}

.section-about-brand ul li i {
    color: #c1803e;
    margin-right: 10px;
}

.brand-products-block {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.product-grid-view {
    padding: 10px;
    text-align: center;
    position: relative;
/*    background color: red;*/
    border: 1px solid #e0e0e0;
    margin: 15px;
    overflow: hidden;
    transition: all .2s;
}

.product-image {
    margin-bottom: 20px;
    height: 300px;
/*    border: 1px solid red;*/
}

.product-image img {
    width: auto;
    height: 100%;
/*    object-fit: cover;*/
    transition: all .2s;
}

.product-grid-view:hover .product-image a img {
    transform: scale(1.1);
}

.product-grid-view:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.product-title {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 23px;
}

.product-title a {
    text-decoration: none;
    color: #222;
}

.price-box {
    margin-top: 10px;
    margin-bottom: 7px;
}

.product-price {
    color: #654321;
    font-size: 21px;
}

.product-image {
    margin-bottom: 20px;
    height: 300px;
}

/*responsive design*/
@media screen and (max-width: 1200px) {
    .section-about-brand {
        padding: 30px;
    }
    
    .brand-products-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .brand-products-block {
        grid-gap: 0rem;
    }
    
    .brand-products-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 580px) {
    .brand-products-block {
        grid-template-columns: 1fr;
    }
}