.section-brands {
    padding: 50px;
}

.section-brands .pagination-box {
    box-shadow: none;
}

.brands-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.brand-box {
    padding: 25px;
/*    height: 200px;*/
    border: 1px solid #d3d3d3;
    transition: all .2s;
    position: relative;
}

.brand-box:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.brand-box p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 75px;
/*    min-height: 180px;*/
}

.brand-img {
    text-align: center;
    margin-bottom: 20px;
}

.brand-box .carousel-btn {
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 90%;
}

.brand-box .carousel-btn:hover {color: #c68c53;}

.carousel-btn {
    font-size: 1.2rem;
    font-weight: 700px;
    border: 1px solid #c68c53;
    background-color: #c68c53;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .25rem;
    transition: all .1s;
}

.carousel-btn:hover {
    background-color: transparent;
    color: #c68c53;
    border-radius: 100px;
}

/*responsive design */

@media screen and (max-width: 1200px) {
    .section-brands {
        padding: 30px;
    }
    
    .brands-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 830px) {
    .section-brands .heading-secondary {
        font-size: 20px;
    }
    
    .brands-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 630px) {
    .section-brands {
        padding: 20px;
    }
    
    .brands-block {
        grid-template-columns: 1fr;
    }
    
    .section-brands .pagination-box {
        padding: 0;
    }
    
    .page {
        padding: 10px;
    }
}