/*GRID*/
.row {
    margin: 0 auto;
/*    background-color: yellow;*/
/*    padding: 50px;*/
}

.row:not(:last-child) {margin-bottom: 2.5rem;}

.row::after {
    content: "";
    display: table;
    clear: both; 
}

.row [class^="col-"] {float: left;}

.row [class^="col-"]:not(:last-child) {margin-right: 3.5rem;}

.row .col-1-of-4 {width: calc((100% - 3 * 3.5rem) / 4);}
.row .col-2-of-4 {width: calc( 2 * ((100% - 3 * 3.5rem) / 4 ) + 3.5rem);}
.row .col-3-of-4 {width: calc( 3 * ((100% - 3 * 3.5rem) / 4 ) + 2 * 3.5rem); }
/*end of GRID*/

/*C A T A L O G   P A G E*/
.categories {
    padding: 3.125rem;
    background-color: #f9f2ec;  
}

.products-box {
    background-color: #fff;
/*    height: 600px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/*    grid-gap: 1rem;*/
    
}

.product-grid-view {
    padding: 10px;
    text-align: center;
    position: relative;
/*    background color: red;*/
    border: 1px solid #e0e0e0;
    margin: 15px;
}

.product-image {
    margin-bottom: 20px;
    height: 300px;
/*    border: 1px solid red;*/
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
/*    object-fit: cover;*/
}



.product-title {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 23px;
}

.product-title a {
    text-decoration: none;
    color: #222;
}

.price-box {
    margin-top: 10px;
    margin-bottom: 7px;
}

.product-price {
    color: #654321;
    font-size: 21px;
}

.pagination-box {
    padding: 30px 15px !important;
}

.pagination-box .carousel-btn {
    text-align: center;
    display: none;
}

.pagination {
    text-align: center;
    padding: 30px 0;
}

.page {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #654321;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.cat-filter, .manafacturer-box, .offer-checkbox, .parametr-box, .action-box, .price-filter-box, .button-box, .pagination-box, .product-details-box, .product-full-info {
    padding: 30px 15px 30px 40px;
    background-color: #fff;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .1);
/*    height: 600px;*/
}

.sidebar-title {
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    margin-left: -20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.product-categories {
    list-style: outside none none;
}

.product-categories li {
    padding-right: 25px;
    margin-bottom: 7px;
}

.product-categories li a {
    text-decoration: none;
    color: #222;
    line-height: 27px;
    transition: all .2s;
}

.product-categories li a::before {
    border: 1px solid #e0e0e0;
    content: '\f00c';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0;
    height: 10px;
    line-height: 8px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: -2px;
    vertical-align: middle;
    width: 10px;
    transition: all .2s;
}

.product-categories li a.active-list {
    color: #c68c53;
}

.product-categories li a.active-list::before {
    border-color: #c68c53;
    color: #c68c53;
    font-size: 16px;
}

.product-categories li a:hover {
    color: #c68c53;
}

.product-categories li a:hover:before {
    font-size: 16px;
    color: #c68c53;
    border-color: #c68c53; 
}

.sub-list {
    margin-left: -25px;
}

.offer-checkbox, .manafacturer-box, .parametr-box, .action-box, .price-filter-box, .button-box, .product-full-info {
    margin-top: 1.5rem;
}

.offer-checkbox label, .manafacturer-box label, .parametr-box label, .action-box label, .price-filter-box label {
    user-select: none;
    line-height: 27px;
    cursor: pointer;
    padding-left: 10px;
}

.price-filter-box {
    height: 160px;
}

.price-filter-box input[type="text"] {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    display: block;
    width: 40%;
    float: left;
}

.price-filter-box input[type="text"]:nth-child(2n) {
    margin-left: 20px;
}

.button-box > div {
/*    font-size: 10px;*/
    width: 90%;
    text-align: center;
    color: #fff;
}

/*responsive-design */ 
@media screen and (max-width: 1250px) {
    .products-box {
        grid-template-columns: 1fr 1fr;
    }  
    .categories {
        padding: 2.125rem;
    }
    .cat-filter li a {
        font-size: 14px;
    }
    
    .row [class^="col-"]:not(:last-child) {margin-right: 1.5rem;}
    
    .row .col-1-of-4 {width: calc((100% - 3 * 1.5rem) / 4);}
}

@media screen and (max-width: 900px) {
    .categories {
        padding: 1.5rem;
    }
    
    .row .col-3-of-4, .row .col-1-of-4 {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .products-box {
        grid-template-columns: 1fr;
    }
    
    .pagination {
        display: none;
    }
    
    .pagination-box .carousel-btn {
        display: block;
    }
}

