.section-contact {
    padding: 50px 100px;
}

.section-contact-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    margin-bottom: 50px;
}

.section-contact-title {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 1.7rem;
    border-left: 4px solid #c1803e;
}

.section-contact-title h2 {
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.section-contact-title span {
    font-weight: 700;
}

.section-contact-title p {
    font-size: 15px;
    color: #8c8c8c;
    line-height: 1.8;
}

.span-contact {
    margin-bottom: 1rem;
    clear: both;
}

.contact-icon {
    float: left;
    margin-right: 10px;
}

.contact-icon .fa {
    font-size: 1.3rem;
    color: #c1803e;
    font-weight: 900;
}

.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 15px 20px;
    background-color: #f0f5f5;
    border: none;
    border-radius: 0.25rem;
    transition: all .3s;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    background-color: #e0ebeb;
}

.contact-btn {
    font-size: 1.2rem;
    font-weight: 700px;
    border: 1px solid #c68c53;
    background-color: #c68c53;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .25rem;
    transition: all .1s;
    color: #fff;
}

.contact-btn:hover {
    background-color: transparent;
    color: #c68c53;
    border-radius: 100px;
}

/*reponsive design*/
@media screen and (max-width: 1200px) {
    .section-contact {
        padding: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .section-contact-block {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .section-contact {
        padding: 20px;
    }
    
    .contact-btn {
        font-size: .9rem;
        padding: 10px 25px;
    }
}