/*D E L I V E R Y     P A G E*/
.delivery-section {
    padding: 50px 100px;
    line-height: 1.6;
    text-align: justify;
}

.delivery-section h2 {
    margin-bottom: 10px;
}

.delivery-section h2:not(:first-child) {
    margin-top: 40px;
}

/*responsive design */

@media screen and (max-width: 1000px) {
    .delivery-section {
        padding: 50px;
    }
}

@media screen and (max-width: 700px) {
    .delivery-section {
        padding: 30px;
    }
    
    .delivery-section .heading-secondary {
        font-size: 20px;
    }
}