.news-section {
    padding: 50px;
    position: relative;
}

.sub-heading {
    font-size: 19px;
/*    width: 70%;*/
    text-align: center;
    margin-bottom: 80px;
    margin-top: -30px;
}

.news-section a {
    color: #404040;
}

.news-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.7rem; 
}

.section-blog {
    padding: 50px 100px;
}

.section-blog a {
    text-decoration: none;
    color: #404040;
}

.blog-section-intro p {
    font-size: 18px;
}

.blog-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 0 35px 0;
}

.blog-item {
    padding-top: 200px;
}

.blog-item-img {
    position: absolute;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    top: 0;
}


.blog-item .blog-item-img {
    left: -10px;
}

.blog-item-content {
    position: relative;
    padding: 35px 20px 30px 65px;
    background-color: #fff;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

.blog-item .blog-item-content {
    left: 10px;
}

.blog-item:hover .blog-item-img,
.blog-item:hover .blog-item-content {
    left: 0;
}

.blog-item-label {
    position: absolute;
    left: 20px;
    top: -15px;
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    background-color: #E2002B;
}

.blog-item-date {
    position: absolute;
    left: 20px;
    top: 35px;
    display: inline-block;
    color: #C8CACE;
    text-align: center;
}
            
.blog-item-date-day {
    display: block;
    font-size: 28px;
    line-height: 28px;
}

.blog-item-date-month {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.blog-item h3 {
    transition: all .3s ease-in-out;
}

.blog-item:hover h3 {
    color: #272C42;
}

/*responsive design*/
@media screen and (max-width: 1200px) {
    .news-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {
    .news-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .news-block {
        grid-template-columns: 1fr;
    }
    
    .news-section {
        padding: 30px;
    }
}