/*P R P O D U C T    D E T A I L S*/
.product-details {
    padding: 50px;
    background-color: #f9f2ec;
}

img {
  vertical-align: middle;
}
.product-container {
    position: relative;
    margin-bottom: 40px;
}
.mySlides {
    display: none;
    height: 340px;
    text-align: center;
}

.mySlides img {
    height: 100%;
    width: auto;
}

.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.numbertext {
  color: #000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.product-row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
    float: left;
    width: 16.66%;
    height: 70px;
    text-align: center;
    border: 1px solid #d3d3d3;
}

.column img {
    height: 100%;
    width: auto !important;
}
.demo {
  opacity: 0.6;
}

.product-active,
.demo:hover {
  opacity: 1;
}

.product-info .info-list {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
    margin-top: 10px;
}

.product-info .info-list li {
    list-style: none;
    line-height: 27px;
}

.product-full-info {
/*    height: 200px;*/
    padding-right: 40px;
}

.carousel-control {
/*    border: 1px solid red;*/
    height: 80px;
}

/*GRID*/
.row {
    margin: 0 auto;
}

.row:not(:last-child) {margin-bottom: 2.5rem;}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {float: left;}

.row [class^="col-"]:not(:last-child) {margin-right: 3.5rem;}

.row .col-1-of-2 {width: calc((100% - 3.5rem) / 2);}

/*end of GRID*/

 a.button {
    height:50px;
    text-align:center;
    padding: 10px 10px;
     color: #000;
     cursor: pointer;
     text-decoration: none;
}

a.active {
    border-bottom: 3px solid #c1803e;
    color: #c1803e;
}

.content {
    margin-top:30px;
}
.content h2 {
    text-align: left;
}

.content ul {
    list-style: none;
}

.content ul i {
    color: #c1803e;
    margin-right: 15px;
}

.content ul li a {
    color: #c1803e;
}

div[class*="content-"] { 
    display:none;
}

div.active { 
    display:block;
}

.hr {
    border-bottom: 1px solid #e3e3e3;
    margin: 15px 0;
}

table  {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}



/*reponsive design*/
@media screen and (max-width: 1200px) {
    .product-details {
        padding: 30px;
    }
}

@media screen and (max-width: 900px) {
    .row .col-1-of-2 {
        width: 100%;
    }
    .product-container {
        padding: 0 70px;
    }
}

@media screen and (max-width: 700px) {
    .product-details {
        padding: 30px 20px;
    }
    .product-container {
        padding: 0;
    }
    .button-wrap a {
        display: block;
    }
}