.section-results {
    padding: 50px 150px;
}

.search-results-box {
    width: 100%;
    padding: 30px 60px;
    background-color: #d3d3d3;
    display: block;
}

.search-results-box .search-input {
    padding: 13px 20px;
    width: 85%;
    float: left;
    border: none;
    outline: none;
}

.search-result-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.clearfix {
    overflow: auto;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.search-results-btn {
    font-weight: 600;
    width: 15%;
    float: left;
    padding: 10px 20px;
    text-align: center;
    background-color: #654321;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
    border: 1px solid #654321;
}

.search-results-btn:hover {
    background-color: #d9b38c;
    border: 1px solid #654321;
    color: #654321;
}

.section-results h2{
    color: #1f1f14;
    letter-spacing: 2px;
    font-weight: 500;
}

.result-item {
    margin-top: 15px;
}

.result-item a {
    color: #c68c53;
}

/*pagination*/
.pagination {
    text-align: center;
    padding: 30px 0;
}

.section-results .pagination-box {
    box-shadow: none;
}

.page {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #654321;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.product-grid-view {
    padding: 10px;
    text-align: center;
    position: relative;
    background color: red;
    border: 1px solid #e0e0e0;
    margin: 15px;
}

.product-grid-view:hover .product-image a img

.product-image {
    margin-bottom: 20px;
    height: 300px;
/*    border: 1px solid red;*/
}

.product-image img {
    width: auto;
    height: 100%;
/*    object-fit: cover;*/
}

.product-title {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 23px;
}

.product-title a {
    text-decoration: none;
    color: #222;
}

.price-box {
    margin-top: 10px;
    margin-bottom: 7px;
}

.product-price {
    color: #654321;
    font-size: 21px;
}

/*responsive design */
@media screen and (max-width: 1200px) {
    .section-results {
        padding: 50px;
    }   
}

@media screen and (max-width: 950px) {
    .section-results {
        padding: 30px;
    }
    
    .search-result-products {
        grid-template-columns: 1fr 1fr;

    }
    
    .search-results-box .search-input {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .search-result-products {
        grid-template-columns: 1fr;
    }
    
    .search-results-box .search-input {
        width: 80%;
    }
    
    .search-results-btn {
        width: 20%;
    }
}

@media screen and (max-width: 580px) {
    .section-results {
        padding: 20px;
    }
    
    .search-results-box {
        padding: 30px;
    }
    
    .search-results-box .search-input {
        width: 70%;
    }
    
    .search-results-btn {
        width: 30%;
    }
}