.section-serv {
    padding: 50px;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.step {
    margin: 5px;
    transition: all .2s
}

.step-img {
}

.step-img img{
    width: 100%;
    height: auto;
    display: block;
}

.step-name {
    background-color: #c1803e;
    color: #fff;
    font-size: 22px;
    line-height: 45px;
    text-indent: 15px;
    transition: all .2s;
}

.step-desc {
    background-color: #eeeef3;
    color: #555;
    font-size: 14px;
    min-height: 93px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 16px; 
}

.step:hover .step-name{
    background-color: #654321;
}

.step:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.call-block {
    background: url(../img/woman-call.png) center right no-repeat #fff;
    background-color: #f2f2f2;
    padding: 50px 100px;
}

.call-block h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.call-block span {
    display: block;
    color: #595959;
    margin-bottom: 10px;
    font-size: 14px;
}

.call-block .call-order {
    color: #804000;
    cursor: pointer;
    text-decoration: underline;
    transition: all .2s;
}

.call-block .call-order:hover {
    text-decoration: none;
}

.section-serv ul li {
    list-style: none;
    line-height: 1.7;
    margin-left: 20px;
}

.section-serv ul li i {
    color: #c1803e;
    margin-right: 10px;
}

.serv-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.serv-box {
    border: 2px solid #d3d3d3;
}

.serv-box-title {
    background-color: #d3d3d3;
    padding: 10px;
    text-align: center;
}

.serv-box-img {
    text-align: center;
    height: 300px;
    padding: 20px;
}

.serv-box-img img {
    height: 100%;
    width: auto;
}

.serv-box p {
    padding: 20px;
    text-align: justify;
}

.serv-box-btn {
    background-color: #c1803e;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all .2s;
    user-select: none;
}

.serv-box-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.serv-box-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.how-does {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 40px;
/*    grid-gap: 30px;*/
}

.how-does-1, .how-does-2 {
    padding: 30px;
    margin: 10px;
}

.how-does-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 30px;
}

.how-does-img {
    width: 160px;
    height: 130px;
    text-align: center;
}

.how-does-img img {
    height: 100%;
    width: auto;
}

.how-does-inner h4 {
    color: #c1803e;
}

.rent-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 100px;
}

.rent-btn {
    background-color: #c1803e;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #c1803e;
    transition: all .2s;
}

.rent-btn:hover {
    background-color: transparent;
    color: #c1803e;
}

.why-us-block {
    background: url(../img/cup-of-coffee.jpg) center right no-repeat #fff;
    padding: 30px;
}

.why-us-block h3 {
    text-align: left;
}


@media screen and (max-width: 1200px) {
    .section-serv {
        padding: 50px 30px;
    }
    .how-does {
        padding: 10px 20px;
    }
    .how-does-1, .how-does-2 {
        padding: 10px;
    }
    .rent-block {
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    .steps {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .how-does {
        grid-template-columns: 1fr;
    }
    .rent-btn {
        margin: 5px;
    }
    .why-us-block {
        background: none;
    }
    .call-block {
        background: #f2f2f2;
    }
}

@media screen and (max-width: 750px) {
    .steps {
        grid-template-columns: 1fr 1fr;
    }
    .serv-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
    }
    .section-serv {
        padding: 30px 20px;
    }
    .section-serv h2 {
        font-size: 18px;
    }
    .steps {
        grid-template-columns: 1fr;
    }
    .section-serv ul li {
        font-size: 14px;
    }
    .serv-block {
        grid-template-columns: 1fr;
    }
    .how-does {
        padding: 0;
    }
    .how-does-1, .how-does-2 {
        padding: 0;
    }
    .how-does p {
        font-size: 14px;
    }
    .rent-block {
        grid-template-columns: 1fr;
    }
    .call-block {
        padding: 50px;
    }
}