.serv-section {
    padding: 50px;
}

.serv-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.serv-box {
    border: 2px solid #d3d3d3;
    position: relative;
}

.serv-box-title {
    background-color: #d3d3d3;
    padding: 10px;
    text-align: center;
}

.serv-box-price {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.serv-box p {
    padding: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

.serv-box-btn {
    background-color: #c1803e;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: all .2s;
    user-select: none;
    width: calc(100% - 2 * 20px);
    position: absolute;
    bottom: 0;
    left: 0;
}

.serv-box-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.serv-box-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

/*///////////////////////////////////////////////////////*/

/*responsive design*/
@media screen and (max-width: 1200px) {
    .serv-section {
        padding: 30px;
    }
}

@media screen and (max-width: 950px) {
    .serv-block {
        grid-template-columns: 1fr 1fr;
    }
    
    .serv-section .heading-secondary {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .serv-section {
        padding: 20px;
    }
    .serv-block {
        grid-template-columns: 1fr;
    }
}