.services-section {
    padding: 50px;
}

.services-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.services-block a {
    text-decoration: none;
}

.service-box {
    height: 300px;
    border: 1px solid #d3d3d3;
    position: relative;
    text-align: center;
}

.service-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.service-type-title {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #663300;
    opacity: .8;
}

.service-box h3 {
    color: #fff;
    padding: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    display: block;
    margin-top: 30px;
}

.service-btn-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #663300;
    opacity: .8;
    transition: all .2s;
}

.service-box:hover .service-btn-overlay {
    height: 50%;
}

.service-btn-overlay .carousel-btn {
    font-size: 1.2rem;
    font-weight: 700px;
    border: 3px solid #fff;
    background-color: #c68c53;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .25rem;
    transition: all .1s;
    color: #fff;
    visibility: hidden;
}

.service-btn-overlay .carousel-btn:hover {
    background-color: transparent;
    border-radius: 100px;
}

.service-box:hover .service-btn-overlay .carousel-btn {
    visibility: visible;
} 

/*responsive design*/
@media screen and (max-width: 1200px) {
    .services-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .services-section {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 920px) {
    .services-block {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .services-block {
        grid-template-columns: 1fr;
    }
}
