/*UTILITIES*/
.mr-small {margin-right: 10px;}

.mb-small {margin-bottom: 10px;}
.mb-medium {margin-bottom: 20px;}
.mb-big {margin-bottom: 50px;}

.mt-small {margin-top: 10px;}
.mt-medium {margin-top: 20px;}
.mt-big {margin-top: 50px;}

.my-medium {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pl-big {padding-left: 45px;}

.hr-white {
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/*GRID*/
.row {
    margin: 0 auto;
/*    background-color: yellow;*/
/*    padding: 50px;*/
}

.row:not(:last-child) {margin-bottom: 2.5rem;}

.row::after {
    content: "";
    display: table;
    clear: both; 
}

.row [class^="col-"] {float: left;}

.row [class^="col-"]:not(:last-child) {margin-right: 3.5rem;}

.row .col-1-of-2 {width: calc((100% - 3.5rem) / 2);}

.row .col-1-of-3 {width: calc((100% - 2 * 3.5rem) / 3);}
.row .col-2-of-3 {width: calc( 2 * ((100% - 2 * 3.5rem) / 3) + 3.5rem);}

.row .col-1-of-4 {width: calc((100% - 3 * 3.5rem) / 4);}
.row .col-2-of-4 {width: calc( 2 * ((100% - 3 * 3.5rem) / 4 ) + 3.5rem);}
.row .col-3-of-4 {width: calc( 3 * ((100% - 3 * 3.5rem) / 4 ) + 2 * 3.5rem); }

.row .col-1-of-5 {width: calc((100% - 4 * 3.5rem) / 5);}
.row .col-2-of-5 {width: calc(2 * ((100% - 4 * 3.5rem) / 5) + 3.5rem);}

.row .col-1-of-6 {width: calc((100% - 5 * 3.5rem) / 6);}
.row .col-2-of-6 {width: calc(2 * ((100% - 5 * 3.5rem) / 6) + 3.5rem);}
/*end of GRID*/

/*TYPOGRAPHY*/
.heading-primary {
    font-size: 3rem;
    text-transform: capitalize;
    display: block;
    font-family: 'Pacifico', cursive;
}

.heading-primary-sub{
    font-size: 6.25rem;
    text-transform: capitalize;
}

.heading-secondary {
    text-align: center;
    font-size: 25px;
    color: #654321;
}

.heading-secondary a {
    text-decoration: none;
    color: #000;
    transition: all .2s;
}

.heading-secondary a:hover {
    color: #c1803e; 
}

.heading-tertiary {
    text-align: center;
    color: #654321;
}
/*end of TYPOGRAPHY*/

/*zakazat zvonok*/
 .mypage-alo-phone {
    position: fixed;
    right: 0px;
    bottom: 0px;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 200000 !important;
}
.mypage-alo-ph-img-circle {
        width: 60px;
        height: 60px;
        top: 28px;
        left: 28px;
        position: absolute;
        background: url(../img/call-icon-white.png) no-repeat center center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: .7;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background-color: #654321;
        background-size: 70%;
}
.mypage-alo-ph-circle-fill {
    width: 80px;
    height: 80px;
    top: 18px;
    left: 18px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(101, 67, 33, 0.5);
    opacity: .75 !important;
}
.mypage-alo-ph-circle{
    width: 90px;
    height: 90px;
    top: 12px;
    left: 12px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #654321;
    opacity: .5;
}

/*end of zakazat zvonok*/


/*HEADER SECTION*/

.header {
    position: relative;
}

.topbar {
    font-size: 14px;
    background-color: #fff;
    padding: 0 100px;
/*    border: 1px solid red;*/
}

.topbar-content {
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
/*    border: 1px solid yellow;*/
}

.topbar-contact {
    float: left;
    padding: 11px 0;
    margin-left: 60px;
}

@media screen and (max-width: 1050px) {
    .topbar-contact {
        visibility: hidden;
    }
}

.topbar-contact span i{
    color: #654321;
}

.search-box { 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
/*    border: 1px solid red;*/
}

.topbar-search {
    outline: none;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    padding: 10px 15px;
    float: left;
    
}

.topbar-search-btn {
    float: left;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-radius: 0 100px 100px 0;
    transition: all .2s;
    transform: translateX(-30px);
}

.topbar-search-btn:hover {
    background-color: #654321;
    border-radius: 100%;
    color: #fff;
}

.topbar-search-btn i {
    padding: 0 10px;
}

.topbar-btn {
    float: right;
}

.contact-number {color: #c1803e;}


.icon-btn-block {
    display: inline-block;
    height: 40px;
    display: none;
}

.icon-btn {
}

.icon-btn img {
    height: 100%;
    width: auto;
     background-color: #d9b38c;
    border-radius: 100%;
}

@media screen and (max-width: 860px) {
    .icon-btn-block {
        display: inline-block;
        position: absolute;
        right: 120px;
    }
}

@media screen and (max-width: 860px) {
    .icon-btn-block {
        right: 90px;
    }
}

@media screen and (max-width: 660px) {
    .icon-btn-block {
        right: 150px;
    }
}

@media screen and (max-width: 625px) {
    .topbar-contact {
        visibility: hidden !important;
    }
    
    .icon-btn-block {
/*        display: block;*/
    }
}


.btn {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #654321;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s;
    user-select: none;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: #654321;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);              
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
}

fieldset {
    padding: 55px 45px 0 45px;
    border: 2px solid #654321;
    margin: 65px 45px;
    position: relative;
}

.modal-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden
}

.modal-logo img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 900px) {
    .modal {padding-top: 1px;}
    .modal-content {
        width: 80%;
        right: 0;
        margin-right: 1px;
    }
}

@media screen and (max-width: 600px) {
    fieldset {
    padding: 40px 30px 0 30px;
        margin: 50px 30px;
    }
}

.btn-bg {
    padding: 0 25px;
    display: inline-block;
    background-color: #fff;
   
    position: relative;
    left: 50%;
    transform: translate(-50%, 30px);
}

.modal-content p {
    text-align: center;
    font-size: 13px;
    color: #808080;
}

.close, .close2, .close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-group input, .form-group textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 15px 20px;
    background-color: #f0f5f5;
    border: none;
    border-radius: 0.25rem;
    transition: all .3s;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    background-color: #e0ebeb;
}

.contact-btn {
    font-size: 1.2rem;
    font-weight: 700px;
    border: 1px solid #c68c53;
    background-color: #c68c53;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .25rem;
    transition: all .1s;
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contact-btn:hover {
    background-color: transparent;
    color: #c68c53;
    border-radius: 100px;
}
/*end of Modal*/

.navbar {
    position: relative;
    padding: 25px 50px 10px 50px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .2);
/*    position: relative;*/
}

.navbar-content {
    margin-left: auto;
    margin-right: auto;
/*    display: block;*/
    text-align: center;
}

.navbar-content li {
/*    float: left;*/
    list-style: none;
    text-align: left;
}

.navbar-content a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
    transition: all .2s;
}

.navbar-content a:hover {
    color: #c1803e;
}

.logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px;
    height: 100px;
    width: 100px;
}

.logo-box img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 1050px) {
    .logo-box {
        top: 5px;
    }
}

@media screen and (max-width: 860px) {
    .logo-box {
        top: 0;
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .logo-box {
        left: 0;
    }
}
/*sub dropdown*/
.navbar primary_menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

.primary_menu>ul li:hover>ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
	-moz-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
	-ms-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
	-o-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
	transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
    z-index: 900;
}

.primary_menu>ul>li {
	display: inline-block;
	position: relative;
}

.primary_menu>ul>li ul {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
	-moz-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
	-ms-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
	-o-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
	transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
/*    margin-top: 10px;*/
}

.primary_menu>ul>li>ul {
	position: absolute;
	z-index: 10;
}

.primary_menu>ul>li>ul li ul {
	-webkit-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
	-moz-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
	-ms-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
	-o-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
	transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
}

.primary_menu>ul>li>ul>li {
	position: relative;
}

.primary_menu>ul>li>ul>li>a {
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 0 20px;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	text-decoration: none;
	background: #c1803e;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.primary_menu>ul>li>ul>li>a:hover {
	background: #654321;
    color: #fff;
}

.primary_menu>ul>li>ul>li ul {
	position: absolute;
	z-index: 10;
	left: 100%;
	top: 0;
}

.primary_menu>ul>li>ul>li ul li a {
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 0 20px;
	font-size: 16px;
	color: #fff;
	line-height: 40px;
	text-decoration: none;
	background: #c1803e;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.primary_menu>ul>li>ul>li ul li a:hover {
	background: #654321;
    color: #fff;
}

/*Mobile navigation*/
.navigation {
    display: none; 
}
            
.navigation__checkbox {
    display: none; 
}
            
.navigation__button {
    background-color: #f1f4f9;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 5px;
    right: 20px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; 
}
            
.navigation__background {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 25px;
    background-image: radial-gradient(#664400, #cc8800);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); 
}
            
.navigation__nav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1500;
	opacity: 0;
	width: 0;
	transform: translateX(-200px);
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.navigation__item {
	margin: 20px;
}

.navigation__link:link,
.navigation__link:visited {
	display: inline-block;
	font-size: 25px;
	font-weight: 300;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
	background-size: 230%;
	transition: all .4s;
}

.navigation__link:hover,
.navigation__link:active {
	background-position: 100%;
	color: #1c45a4;
	transform: translateX(10px);
}

.navigation__checkbox:checked~.navigation__background {
	transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
	opacity: 1;
	width: 100%;
	transform: translateX(0);
}

.navigation__icon {
	position: relative;
	margin-top: 30px;
	margin-left: 15px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	width: 30px;
	height: 2px;
	background-color: #333;
	display: inline-block;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
	content: "";
	position: absolute;
	left: 0;
	transition: all .2s;
}

.navigation__icon::before {
	top: -8px;
}

.navigation__icon::after {
	top: 8px;
}

.navigation__button:hover .navigation__icon::before {
	top: -10px;
}

.navigation__button:hover .navigation__icon::after {
	top: 10px;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
	background-color: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
	top: 0;
	transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}

/*end of HEADER SECTION*/

/*CAROUSEL*/
.carousel {
    position: relative;
    background-color: #000;
    z-index: 500;
}

.carousel-item{
}

.carousel-item img {
/*    opacity: .2;*/
    width: 100%;
    height: auto;
/*    height: 100%;*/
/*    object-fit: cover;*/
}

.carousel_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.caption-paragraph {
    font-size: 1.5rem;
}

.carousel-btn {
    font-size: 1.2rem;
    font-weight: 700px;
    border: 1px solid #c68c53;
    background-color: #c68c53;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: .25rem;
    transition: all .1s;
    color: #fff;
}

.carousel-btn:hover {
    background-color: transparent;
    color: #c68c53;
    border-radius: 100px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    background-color: #c1803e;
    padding: 30px 20px;
    transition: all .2s;
    border-radius: 3px;
}
/*end of CAROUSEL*/

/*SECTION CATALOG*/
.section-catalog {
    padding: 50px 0;
    background-color: #f2f2f2;
    position: relative;
}

.cat-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: black;
    opacity: .7;
    transition: all .1s;
}

 .slider-cat {
	 display: flex;
	 height: 350px;
	 max-height: auto;
	 overflow-y: hidden;
	 overflow-x: scroll !important;
	 padding: 16px;
	 transform: scroll(calc(var(--i,0)/var(--n)*-100%));
	 scroll-behavior: smooth;
}



 .slider-cat::-webkit-scrollbar {
	 height: 5px;
	 width: 150px;
	 display: none;
}
 .slide-cat {
     position: relative;
     margin: 10px;
/*     min-width: 250px;*/
     text-align: center;
}

@media screen and (max-width: 750px) {
    .slider-cat {
        display: block;
        height: auto;
    }
    
    .slide-cat {
        height: 350px;
        border: 1px solid #d3d3d3;
        overflow: hidden;
    }
    
    .cat-control-prev-btn, .cat-control-next-btn {
        display: none;
    }
}

 .slide-cat img {
	 height: 100%;
	 width: auto;
}
 .cat-control-prev-btn, .cat-control-next-btn {
	 position: absolute;
	 top: 50%;
	 background-color: #fff;
	 height: 100px;
	 line-height: 100px;
	 width: 45px;
	 text-align: center;
	 box-shadow: 0 1px 3px #888;
	 user-select: none;
	 color: #444;
	 cursor: pointer;
}
 .cat-control-next-btn {
	 right: 0;
}
.cat-control-prev-btn {
    left: 0;
}

 @media only screen and (max-width: 420px) {
	 .slider-cat {
		 padding: 0;
	}
	 .slide-cat {
		 padding: 16px 10px;
	}
	 .slide-cat img {
		 margin: 0;
	}
	 .control-prev-btn {
		 top: 37%;
	}
	 .control-next-btn {
		 top: 37%;
	}
}

.center-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.cat-overlay h3 {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 16px;
    font-weight: 600;
    margin: auto;
    margin: 10px;
    visibility: hidden;
    font-size: 21px;
    display: inline-block;
}

.cat-overlay .carousel-btn {
    border-color: #fff;
    color: #fff;
    padding: 5px 12px;
    margin-top: 15px;
    visibility: hidden;
}

.slide-cat:hover > span {
    width: 100%;
}

.slide-cat:hover > span h3, .slide-cat:hover > span .carousel-btn {
    visibility: visible;
}
/*end of SECTION-CATALOG*/

/*SECTION-NEWS*/
.section-blog {
    padding: 50px 100px;
}

.blog-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.section-blog a {
    text-decoration: none;
    color: #404040;
}

.blog-section-intro p {
    font-size: 18px;
}

.blog-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 0 0 35px 0;
}

.blog-item {
    padding-top: 200px;
}

.blog-item-img {
    position: absolute;
    width: 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    top: 0;
}


.blog-item .blog-item-img {
    left: -10px;
}

.blog-item-content {
    position: relative;
    padding: 35px 20px 30px 65px;
    background-color: #fff;
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

.blog-item .blog-item-content {
    left: 10px;
}

.blog-item:hover .blog-item-img,
.blog-item:hover .blog-item-content {
    left: 0;
}

.blog-item-label {
    position: absolute;
    left: 20px;
    top: -15px;
    display: inline-block;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    background-color: #E2002B;
}

.blog-item-date {
    position: absolute;
    left: 20px;
    top: 35px;
    display: inline-block;
    color: #C8CACE;
    text-align: center;
}
            
.blog-item-date-day {
    display: block;
    font-size: 28px;
    line-height: 28px;
}

.blog-item-date-month {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.blog-item h3 {
    transition: all .3s ease-in-out;
}

.blog-item:hover h3 {
    color: #272C42;
}
/*end of SECTION-NEWS*/

/*ABOUT SECTION*/
.section-about {
    padding: 50px 100px;
    font-size: 13px;
    background-color: #f2f2f2;
}

.section-about img {
    width: 65px;
    height: auto;
}

.section-about .col-1-of-5 {
    transition: all .4s;
    padding: 10px;
    border-radius: 20px;
    cursor: default;
/*    background-color: red;*/
}

.section-about .col-1-of-5:hover {
/*    background-color: #fff;*/
    box-shadow: 0 10px 5px rgba(0, 0, 0, .2);
    padding-bottom: 5px;
}
/*end of SECTION ABOUT*/

/*SECTION MORE*/
.section-more {
    padding: 50px 100px;
}

.section-more i {
    font-size: 30px;
    color: #654321;
    padding-right: 15px;
    margin-left: -45px;
}

/*end of SECTION-MORE*/

/*FOOTER_SECTION*/
.section-footer {
    background-color: #f2f2f2;
    padding: 50px 40px;
    border-top: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .2);
}

.footer-block {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1200px) {
    .footer-block {
        grid-template-columns: 1.1fr 2fr 1fr 1fr 1fr;
    }
    
    .section-footer a {
        font-size: 13px;
    }
}

@media screen and (max-width: 950px) {
    .footer-block {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-box-1 {
        grid-column: 1 / 2;
    }
    .footer-box-2 {
        grid-column: 2 / 5;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer-block {
        grid-template-columns: 1fr;
    }
    
    .footer-box-1 {
        grid-column: auto;
    }
    .footer-box-2 {
        grid-column: auto;
    }
    .footer-box-1, .footer-box-2, .footer-box-3, .footer-box-4 {
        margin-bottom: 30px;
    }
}

.section-footer h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 19px;
}

.section-footer a {
    display: block;
    text-decoration: none;
    color: #262626;
    line-height: 30px;
}

.section-footer a:hover {
    color: #654321;
}

.social-media a {
    display: inline-block;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

.social-media a i {transition: all .3s;}

.social-media a .fa-facebook:hover {
    color: #3b5998;
}

.social-media a .fa-vk:hover {
    color: #4c75a3;
}

.social-media a .fa-instagram:hover {
    color: #fb3958;
}

.section-footer .phone-number {
/*    line-height: 2px;*/
    color: #654321;
    font-size: 18px;
}

.footer-bar {
    padding: 20px 50px;
    background-color: #654321;
    height: 70px;
    color: #d2d2d2;
}


/*end of FOOTER_SECTION*/

/*C A T A L O G   P A G E*/
.categories {
    padding: 3.125rem;
    background-color: #f9f2ec;  
}

.products-box {
    background-color: #fff;
/*    height: 600px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/*    grid-gap: 1rem;*/
    
}

/*
.products [class^="product-"] {
    color: red;
}
*/

.product-grid-view {
    padding: 10px;
    text-align: center;
    position: relative;
/*    background color: red;*/
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.product-image {
    margin-bottom: 20px;
    height: 300px;
}

.product-image img {
    width: auto;
    height: 100%;
/*    object-fit: cover;*/
}

.product-title {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    line-height: 23px;
}

.product-title a {
    text-decoration: none;
    color: #222;
}

.price-box {
    margin-top: 10px;
    margin-bottom: 7px;
}

.product-price {
    color: #654321;
    font-size: 21px;
}

.pagination {
    text-align: center;
    padding: 30px 0;
}

.page {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #654321;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.cat-filter, .manafacturer-box, .offer-checkbox, .parametr-box, .action-box, .price-filter-box, .button-box, .pagination-box, .product-details-box, .product-full-info {
    padding: 30px 15px 30px 40px;
    background-color: #fff;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .1);
/*    height: 600px;*/
}

.sidebar-title {
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    margin-left: -20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.product-categories {
    list-style: outside none none;
}

.product-categories li {
    padding-right: 25px;
    margin-bottom: 7px;
}

.product-categories li a {
    text-decoration: none;
    color: #222;
    line-height: 27px;
    transition: all .2s;
}

.product-categories li a::before {
    border: 1px solid #e0e0e0;
    content: '\f00c';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0;
    height: 10px;
    line-height: 8px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: -2px;
    vertical-align: middle;
    width: 10px;
    transition: all .2s;
}

.product-categories li a.active-list {
    color: #c68c53;
}

.product-categories li a.active-list::before {
    border-color: #c68c53;
    color: #c68c53;
    font-size: 16px;
}

.product-categories li a:hover {
    color: #c68c53;
}

.product-categories li a:hover:before {
    font-size: 16px;
    color: #c68c53;
    border-color: #c68c53; 
}

.sub-list {
    margin-left: -25px;
}

.offer-checkbox, .manafacturer-box, .parametr-box, .action-box, .price-filter-box, .button-box, .product-full-info {
    margin-top: 1.5rem;
}

.offer-checkbox label, .manafacturer-box label, .parametr-box label, .action-box label, .price-filter-box label {
    user-select: none;
    line-height: 27px;
    cursor: pointer;
    padding-left: 10px;
}

.price-filter-box {
    height: 160px;
}

.price-filter-box input[type="text"] {
    padding: 10px 15px;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    display: block;
    width: 40%;
    float: left;
}

.price-filter-box input[type="text"]:nth-child(2n) {
    margin-left: 20px;
}

.button-box > div {
/*    font-size: 10px;*/
    width: 90%;
    text-align: center;
    color: #fff;
}

/*R  E  S  P  O  N  S  I  V  E        D  E  S  I  G  N*/
@media screen and (max-width: 1200px) {
    .heading-primary-sub {
        font-size: 3rem;
    }
    
    .section-catalog {
        padding: 50px;
    }
    
    .section-blog {
        padding: 40px;
    }
    
    .blog-item h3 {
        font-size: 1.2rem;
    }
    
    .section-more {
        padding: 50px;
    }
    
/*
    .footer-col-1, .footer-col-2, .footer-col-3 {
        width: calc((100% - 2 * 3.5rem) / 3) !important;
        margin-bottom: 40px;
    }
*/
}

@media screen and (max-width: 1000px) {
    .topbar {
        padding: 0 30px;
    }
    .navbar {
        padding: 25px 0;
    }
    .navbar-content a {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .section-catalog {
        padding: 30px;
    }
    
    .heading-primary {
        font-size: 2rem;
    }
    
    .heading-primary-sub {
        font-size: 1.5rem;
    }
    
    .caption-paragraph {
        font-size: 17px;
    }
   
    .category {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .cat-item3 {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    
    .cat-item1, .cat-item3, .cat-item4{
        height: auto;
    }

    .blog-block {
        grid-template-columns: 1fr 1fr;
    }
    
    .blog-item:nth-child(3n) {
        display: none;
    }
    
    .section-more .col-1-of-3 {
        width: 100%;
    }
    
     .footer-col-1, .footer-col-2, .footer-col-3 {
        width: calc((100% - 2 * 3.5rem) / 3) !important;
        margin-bottom: 40px;
    }
    
    .footer-col-5, .footer-col-4 {
        width: calc((100% - 2 * 3.5rem) / 3) !important;
    }
}

@media screen and (max-width: 860px) {
    .navbar {
        display: none;
    }
    .navigation {
        display: block;
    }
    .topbar-btn {
        display: none;
    }
    .search-box {
        left: 60%;
    }
}

@media screen and (max-width: 750px) {
    .carousel {
        display: none;
    }
    
    .section-catalog {
        padding: 30px 10px;
    }
    
    .category {
        grid-template-columns: 1fr 1fr;
    }
    
    .cat-item1, .cat-item2, .cat-item3, .cat-item4, .cat-item7 {
        grid-column: auto;
        grid-row: auto;
    }
    
    .blog-block {
        grid-template-columns: 1fr;
    }
    
    .blog-item:nth-child(3n) {
        display: block;
    }
    
    .footer-col-1, .footer-col-2 {
        width: calc((100% - 3.5rem) / 2) !important;
    }
    
    .footer-col-5, .footer-col-4 {
        width: calc((100% - 2 * 3.5rem) / 3) !important;
    }
}

@media screen and (max-width: 660px) {
    .search-box {
        position: relative;
        display: block;
        width: 80%;
    }
    .topbar-contact {
        float: none;
        text-align: center;
        display: inline-block;
        position: relative;
        left: 20%;
    }
    .topbar-search {
        width: 70%;
        border-bottom: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
    }
    .navigation__button {
        top: 20px
    }
    .navigation__background {
        top: 25px;
    }
}

@media screen and (max-width: 550px) {
    .category {
        grid-template-columns: 1fr;
    }
    
    .cat-item1, .cat-item2, .cat-item3, .cat-item4, .cat-item7, .cat-item5, .cat-item6 {
        height: 300px;
    }
    
    .section-more {
        padding: 50px 30px;
    }
    
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5 {
        width: 100% !important;
    }
    
    .section-footer {
        padding: 30px;
    }
}